/* CSS Library v1.0 Praka '08 */
main_layer {font:"Times New Roman", Times, serif; font-size:12px; font-weight:bold; font-style:italic; color:#FFFFFF; }
form_layer {font:"Times New Roman", Times, serif; font-size:12px; font-style:normal; color:#FFFFFF; }
msg_error {font:"Times New Roman", Times, serif; font-size:12px; font-weight:bold; color:#FF0000; }
links {font:"Times New Roman", Times, serif; font-size:12px; font-style:normal; color:#FFFFFF; }

	  
